
.Card{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: left;
    background-color: red;
    width: fit-content;
    height: fit-content;
    z-index: 1;
}
.Card-padding{
    padding: 10px;
}
.Card:nth-child(2){
    margin-left: 48px;
}