@import 'misc';
.Card{
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: red;
    width: fit-content;
    position: fixed;
    top: calc(85px + (10vh));
    left: calc(50% - 20vw);
}

@media only screen and (min-width : 1367px){
    .Card{
        top: calc(180px + (8vh));
        left: calc(45% - 30vw);
    }
}