
@import "misc";
.sqdot{
    width: 24px;
    height: 24px;
    margin: 12px;
}
.Three-dot-container{
    width: 96px;
    height: fit-content;
    display: flex;
    flex-wrap: wrap;
    position: fixed;
    bottom: 50px;
    left: 50px;
}