

.sqdot{
    width: 24px;
    height: 24px;
    margin: 12px;
}
.Three-dot-container{
    width: 96px;
    height: fit-content;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    z-index: 1;
    top: 75%;
    left: calc(-30vw + 1px);
}
@media only screen and (max-width : 400px){
    .Three-dot-container{
        visibility: hidden;
    }
}
@media only screen and (min-width : 1367px){
    .Three-dot-container{
        top: 112%;
        width: 144px;
    }
    .sqdot{
        width: 36px;
        height: 36px;
        margin: 18px;
    }
}