

.sqdot{
    width: 24px;
    height: 24px;
    margin: 12px;
}
.Three-dot-container{
    width: 96px;
    height: fit-content;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    z-index: 1;
    top: 75%;
    left: -30vw;
}
@media only screen and (max-width : 400px){
    .Three-dot-container{
        visibility: hidden;
    }
}