
@import 'font';
$pic_size : 36px;
$margin : 22px;
$marginLeft : 80px;
$fontsize : 20px;
.Navbar-Container{
    width: 100vw;
    height: 80px;
    background-color: white;
    display: flex;
    z-index: 5;
    position: sticky;
}
.menu-list{
    text-decoration: none;
    font-family: "Cocogoose";
    font-size: $fontsize;
    color: #1b9696;
    margin-left: $marginLeft;
}
.menu{
    height: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: $margin;
    margin-bottom: $margin;
    margin-left: $marginLeft;
}
.icon-logo{
    width: $pic_size;
    height: $pic_size;
    margin-top: $margin;
    margin-bottom: $margin;
    margin-left: $marginLeft;
}
@media only screen and (max-width : 990px){
    .menu-list{
        font-size: 16px;
        margin-left: 60px;
    }
    .Navbar-Container{
        height: 58px;
    }
    .menu{
        margin-top: 11px;
        margin-bottom: 11px;
    }
    .icon-logo{
        margin-top: 11px;
        margin-bottom: 11px;
        margin-left: 58px;
    }
}

@media only screen and (max-width : 800px){
    .menu-list{
        font-size: 14px;
        margin-left: 40px;
    }
    .Navbar-Container{
        height: 46px;
    }
    .menu{
        margin-top: 5px;
        margin-bottom: 6px;
        margin-left: 40px;
    }
    .icon-logo{
        width: 24px;
        height: 24px;
        margin-top: 11px;
        margin-bottom: 11px;
        margin-left: 46px;
    }
}