@import 'misc';
@import 'font';
$pic_size : 36px;
$margin : 22px;
$marginLeft : calc(8vw - 10px);
$fontsize : 20px;
.Navbar-Container{
    width: 100vw;
    height: 80px;
    background-color: white;
    display: flex;
}
.menu-list{
    text-decoration: none;
    font-family: "Cocogoose";
    font-size: $fontsize;
    color: #1b9696;
    margin-left: $marginLeft;
}
.menu{
    height: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: $margin;
    margin-bottom: $margin;
    margin-left: $marginLeft;
}
.icon-logo{
    width: $pic_size;
    height: $pic_size;
    margin-top: $margin;
    margin-bottom: $margin;
    margin-left: $marginLeft;
}
@media only screen and (max-width : 1039px){
    .menu-list{
        font-size: 16px;
    }
    .Navbar-Container{
        height: 60px;
    }
    .menu{
        margin-top: 11px;
        margin-bottom: 11px;
    }
    .icon-logo{
        margin-top: 11px;
        margin-bottom: 11px;
    }
}

@media only screen and (max-width : 600px){
    .menu-list{
        font-size: 14px;
    }
    .Navbar-Container{
        height: 50px;
    }
    .menu{
        margin-top: 8px;
        margin-bottom: 7px;
    }
    .icon-logo{
        width: 24px;
        height: 24px;
        margin-top: 11px;
        margin-bottom: 11px;
    }
}