
.thumb-container{
    position: fixed;
    right: 50px;
    margin: 0;
    transform: rotate(90deg);
    top: 130px;
    animation: textin 2s ease-in-out;
}
.thumb-container > p, .thumb-container > div{
    position: absolute;
}
.first-order{
    display: flex;
    z-index: 2;
    top: -10px;
    left: 55px;
}
.second-order{
    display: flex;
    z-index: 1;
}
.colon{
    position: relative;
    top: -10px;
}
@media only screen and (min-width : 1367px){
    .first-order{
        left: 80px !important;
    }
    .colon{
        top: -18px;
    }
}
@media only screen and (max-width : 575px){
    .thumb-container{
        visibility: hidden;
    }
}

@keyframes textin{
    0%{
        transform: translateY(-1500px) rotate(90deg);
    }
    60%{
        transform: translateY(100px) rotate(90deg);
    }
    100%{
        transform: translateY(0px) rotate(90deg);
    }
}