@import "misc";
.thumb-container{
    position: fixed;
    right: 0px;
    margin: 0;
    transform: rotate(90deg);
    top: 100px;
}
.thumb-container > p, .thumb-container > div{
    position: absolute;
}
.first-order{
    display: flex;
    z-index: 2;
    top: -10px;
    left: 55px;
}
@media only screen and (min-width : 1367px){
    .first-order{
        left: 80px !important;
    }
}